html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
}



main {
    flex: 1;
}

.card.tarjeta-especial{
    width: 20rem;
    margin-left: auto; 
    text-align: center;
    margin-top: -790px;
}